* {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* For search and heart icons */
img {
    width: 2rem;
}

/* <---------- nav ----------> */
/* use grid to space nav item and center them (logo)2fr 
(search bar)1fr (add new book)1fr */
nav {
    position: relative;
    display: grid;
    grid-area: 
    'logo'
    'search'
    'add-book';
    grid-template-areas: 
    'logo search add-book';
    grid-template-columns: 1fr 2fr 1fr;

    color: rgb(244, 83, 87);
    justify-content: baseline;
    align-items: center;
    padding: 0 3rem 0 3rem;
    margin-bottom: 5rem;
    box-shadow: 0px 10px 5px rgb(160, 160, 160);
}

search {
    display: grid;
    grid-template-columns: auto 500px;
    justify-content: center;
    grid-area: search;
}

search > input {
    border-radius: 1rem;
}

@media (max-width: 968px) {
    search {
        display: none;
    }
}

search > * {
    margin: 0 1rem 0 1rem;
}

#library-icon{
    width: 5rem;
    grid-area: logo;
}

@media (max-width: 421px) {
    #library-icon {
        display: none;
    }
}

h1 {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

 /* style "Add New Book" button */
 #openModal {
    position: fixed;
    right: 3rem;
    
    grid-area: add-book;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform 0.7s ease-in-out;
}

#openModal:hover{
    transform: rotate(360deg);
}

#openModal img{
    width: 3rem;
    
} 


/*  <---------- library ---------> */

#library-container {
    display: grid;
    grid-template-columns: 1fr;
    /* margin-top: -30rem; */
}

@media (min-width: 865px) {
    #library-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 974px) {
    #library-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1051px) {
    #library-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
}

@media (min-width: 1175px) {
    #library-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1484px) {
    #library-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* style bookcard */
#library-container > div {
    margin: 1rem;
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    border: 2px solid black; 
    color: rgb(255 255 255);
    margin: 0.5rem; 
    padding: 0.3rem;
    border-radius: 1rem;
    box-shadow: 0px 6px 4px rgb(160, 160, 160);
}

#library-container > div > p {
    font-weight: bold;
}

#library-container > div:hover {
    color: rgb(160, 160, 160);
}

/* pop-up form */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

#modal > form{
    border: 2px solid black; 
    border-radius: 1rem;
    background-color: antiquewhite;
    padding: 2rem;
}



/* <--------- footer ----------> */

footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: center;
    color: rgb(244, 83, 87);
}

@media (max-width: 421px) {
    footer {
        display: none;
    }
}



